* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#calculator {
    width: 272px;
    height: 460px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #00000080;
    border-radius: 10px;
}

#display {
    width: 95%;
    height: 20%;
    padding: 10px;
    background-color: greenyellow;
    font-weight: bold;
    text-align: end;
    border-radius: 10px;
    border: 0;
}

#btn {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    display: flex;
    justify-content: space-around;
}


button {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
}

#clear {
    border-radius: 25px;
    flex: 1;
}
